*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    margin: 0 auto;
    max-width: 960px;
}
ul#main-menu{
    display: flex;
}
ul#main-menu a{
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    display: block;
}
#logo{
    padding-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1.5px;
    display: block;
}
header{
    z-index: 2;
    background-color: brown;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
footer{
    padding: 15px 0;
    font-size: 14px;
    background-color: rgb(13, 13, 73);
    clear: both;
    color: white;
}
#container{
    display: flex;
    justify-content: space-around;
}
footer #container h3{
    border-bottom:  solid white 1px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}
.social{
    display: flex;
}
.social a{
    border-radius: 35px;
    color: white;
    width: 35px;
    height: 35px;
    border: 2px solid gray;
    background-color: gray;
    display: flex;
    margin: 0 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.link a{
    color: white;
    display: block;
    font-size: 14px;
    padding: 2px 0;
}
.lh a{
    color: white;
    display: block;
    font-size: 14px;
    padding: 2px 0;
}
.send{
    margin-top: 5px;
    padding: 5px 10px ;
    font-size: 15px;
}
.lh>ul>li{
    margin: 10px 0;
}
.product-tanner{
    margin-top: 82px;
    display: flex;
    justify-content: space-around;
}
.product-tanner .proper{
    float: right;
}
.infor2>table{
    border-collapse: collapse;
}
th{
    text-align: left;
    padding: 2px;
}
td{
    text-align: right;
    padding: 2px;
}
.infor1{
    line-height: 35px;
}
.button>button{
    margin: 0 20px;
    padding: 10px;
    background-color: brown;
    color: white;
    border: 0 solid red;
}
.ChitietSP{
    margin-bottom: 30px;
}